<.header>
  New Personagem
  <:subtitle>Use this form to manage personagem records in your database.</:subtitle>
</.header>

<.personagem_form changeset={@changeset} action={~p"/personagens"} />

<.back navigate={~p"/personagens"}>Back to personagens</.back>
