<.header>
  New Feitico
  <:subtitle>Use this form to manage feitico records in your database.</:subtitle>
</.header>

<.feitico_form changeset={@changeset} action={~p"/feiticos"} />

<.back navigate={~p"/feiticos"}>Back to feiticos</.back>
